html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  height: 100%;
  background: linear-gradient(to bottom right, #0b0b0b, #8F8F8F 85%);
}

a{
  text-decoration: underline;
  color: #e9e9e9;
}

/* sidebar when it opens up using transition */
.sidebar_opened {
  background-color: #0b0b0b;
  color: #e9e9e9;
  border-right: none;
  border-right-color: #e9e9e9;
  width: 0px;
  min-width: 0px;
  transition: all 0.5s linear;
  overflow-x: hidden;
}

.sidebar_contents {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sidebar_closed_icon {
  margin: 20px;
  text-align: right;
  font-size: 22px;
  padding-bottom: 36px;
}

.sidebar_user_pfp {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0;
  object-fit: cover;
  padding-bottom: 5px;
}

.sidebar_links {
  display: flex;
  width: 195px;
  gap: 10px;
  padding: 15px 0 15px 55px;
  text-decoration: none;
  color: #e9e9e9;
}

.sidebar_links:hover {
  background-color: #494949;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* sidebar when it closes using transition */
.sidebar_closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 22px;
}

.sidebar_closed_pfp {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0;
  object-fit: cover;
  margin-top: 160px;
  margin-bottom: 45.5px;
}

.sidebar_closed_icons {
  padding: 17px 15px;
  font-size: 16px;
}

.sidebar_closed_icons:hover {
  background-color: #494949;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.open_sidebar:hover {
  cursor: pointer;
}

.aboutMe_css {
  display: flex;
  flex-direction: row;
  color: #e9e9e9;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img_line_decos {
  position: relative;
  max-width: 198px;
  max-height: 248px;
}

.deco_top_line1 {
  position: absolute;
  border-left: 3px solid #cdcdcd;
  border-top: 3px solid #cdcdcd;
  width: 50px;
  height: 50px;
}

.deco_top_line2 {
  position: absolute;
  border-left: 3px solid #cdcdcd;
  border-top: 3px solid #cdcdcd;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 12px;
}

.deco_top_line3 {
  position: absolute;
  border-right: 3px solid #cdcdcd;
  border-bottom: 3px solid #cdcdcd;
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: 0;
}

.deco_top_line4 {
  position: absolute;
  border-right: 3px solid #cdcdcd;
  border-bottom: 3px solid #cdcdcd;
  width: 30px;
  height: 30px;
  bottom: 12px;
  right: 12px;
}

.page_title {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.page_sub_title{
  font-size: 15px;
}

.grid_container_item3 {
  grid-column: 1 / span 2;
}

.linkedin_icon{
  font-size: 18px;
  padding-top: 1px;
  text-decoration: none;
  color: white;
  vertical-align: middle
}

